.container-input-dinamico {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

/* .container-input-dinamico > h3 {
    align-self: flex-start;
} */