.metrica-container {
  width: 100%;
}

.barra {
  height: 0.8rem;
  background-color: #2D4254;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 6px;
}

.barra-usada {
  height: 100%;
  background-color: #18AF91;
  transition: width 0.3s ease-in-out;
}

.valores {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  color: #18AF91;
}
