.listagem-orcamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    gap: 3rem;
}

.titulo {
    font-weight: 1;
}

.mensagem-busca {
    color: #6B7280;
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    padding: 1rem;
    background-color: #F9FAFB;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.filtro-tipo {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.filtro-tipo button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}
.filtro-tipo button.active {
  background: #3b82f6;
  color: #fff;
  border-color: #3b82f6;
}
.filtro-tipo button:hover {
  background: #f0f0f0;
}

.abas-tipo {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.abas-tipo button {
  flex: 1;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 4px;
}

.abas-tipo button.active {
  background: #3b82f6;
  color: #fff;
  border-color: #3b82f6;
}

.abas-tipo button:hover {
  background: #f0f0f0;
}

