.input-padrao {
    background-color: #F9FAFB;
    padding: 0.7rem;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    border-radius: 0.5rem;
}

.input-padrao::placeholder {
    color: #6B7280;
}