.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
    height: 100%;
}

.modal-avaliar-content {
    background-color: #2D4254;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    align-items: center;
    gap: 1rem;
    padding: 2.5rem;
}

.text-modal-avaliar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}

.botao-sair {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.botao-sair>img {
    width: 1.5rem;
    height: 1.5rem;
}

.botao-responder {
    background-color: #18AF91;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    min-width: 150px;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    margin-top: 5rem;
}

.botao-responder:hover {
    background-color: #4bd3b8;
}