.cadastro-usuario-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    gap: 3rem;
    align-items: center;
}

.container-header-centralizado > h2 {
    margin-left: 1.3rem;
}

.form-cadastro-usuario {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.botao-cadastrar-usuario {
    margin-top: 5%;
}

.login-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.text-login-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.cadastro-usuario-container > hr {
    border: solid 1px #aec6eb;
    width: 90%;
}